<mat-card class="p-2 mt-5 mx-10 mb-10">

  <mat-card-title class="pb-4 flex items-center space-x-4">

      <button mat-fab extended  (click)="nuevoMedicamento()">
        <mat-icon>vaccines</mat-icon>
        Nuevo Medicamento
      </button>

      <button mat-fab extended  (click)="nuevaCategoria()">
        <mat-icon>inbox_text</mat-icon>
        Nueva Categoria
      </button>


  </mat-card-title>

  <mat-divider class="p-2"></mat-divider>

  <mat-card-content class="dashboard-card-content">

      <mat-form-field appearance="fill">
          <mat-label>Buscar</mat-label>
          <input matInput (keypress)="aplicarFiltroTabla($event, dt)" #input>
      </mat-form-field>

      <p-table
      [value]="dataListaMedicamentos.data"
      [paginator]="true"
      [rows]="10"
      [rowsPerPageOptions]="[10, 20, 30]"
      [stripedRows]="true"
      [globalFilterFields]="['nombre', 'descripcionCategoria', 'precio', 'stock']"
      #dt
  >
      <ng-template pTemplate="header">
          <tr>
              <th>Nombre</th>
              <th>Categoria</th>
              <th>Stock</th>
              <th>Precio</th>
              <th>Estado</th>
              <th>Fecha Vencimiento</th>
              <th>Especificaciones</th>
              <th></th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-medicamento>
          <tr>
              <td>{{ medicamento.nombre }}</td>
              <td>{{ medicamento.descripcionCategoria }}</td>
              <td [ngClass]="getStockClass(medicamento.stock)">{{ medicamento.stock }}</td>
              <td>{{ medicamento.precio }}</td>
              <td>{{ medicamento.esActivo == 1 ? 'Activo' : 'No activo' }}</td>
              <td>{{ medicamento.fechaVencimiento }}</td>
              <td>{{ medicamento.especificaciones }}</td>
              <td class="flex gap-2">
                  <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-info p-mr-2" (click)="editarMedicamento(medicamento)"></button>
                  <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="eliminarMedicamento(medicamento)"></button>
              </td>
          </tr>
      </ng-template>
  </p-table>

  </mat-card-content>

</mat-card>


